.card {
    position: absolute;
    width: 100px; /* Adjust the size of the cards as needed */
    height: 150px;
    animation-name: deal;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes deal {
    0% {
        opacity: 0;
        transform: translate(0, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


body {
    background-image: url("bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

:host {
    width: 100vw;
    height: 100vh;
}
.login-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-logo {
    display: block;
    margin: 0 auto 20px;
    width: 400px;
    height: 300px;
}

.login-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.login-input {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 16px;
}
.grey-button{
    width: 100%;
    background-color: #c4bdbd;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}
.red-button {
    width: 100%;
    background-color: #e30606;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}

.red-button:hover {
    background-color: #dc5757;
}

.green-button {
    width: 100%;
    background-color: #40e521;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}

.green-button:hover {
    background-color: #9ed993;
}

.centered-layout {
    justify-content: center;
    align-items: center;
    height: 50vh;
}

body {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
}