/* notification */
.notifylabel {
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: #fff652;
    color: #282424;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    animation: labelAnimation 2s ease-in-out forwards;
    opacity: 0;
    z-index: 1;
}

@keyframes labelAnimation {
    0% {
        transform: translateX(-50%) scale(0.5);
        opacity: 0;
    }
    50% {
        transform: translateX(-50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}

.loss-notification {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background-color:  #fff652;
    color: #282424;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    animation: notificationAnimation 2s ease-in-out forwards;
    opacity: 0;
    z-index: 1;
}

@keyframes notificationAnimation {
    0% {
        transform: translateX(-50%) scale(0.5);
        opacity: 0;
    }
    50% {
        transform: translateX(-50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}

/* Card animation */
.card-image {
    width: 100px;
    margin: 5px;
    transition: transform 0.5s;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-container .card-image {
    position: relative;
    z-index: 1;
}

.card-container .card-image:last-child {
    z-index: 2;
    transform: translateX(-50%);
}

.card-container .card-image:not(:last-child) {
    transform: translateX(50%);
}


/* Card stack animation */
.card-stack {
    width: 120px;
    height: 180px;
    margin: 5px;
    position: relative;
    z-index: 3;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('download.jpg');
    background-size: cover;
    background-position: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform-origin: bottom center;
    animation: glow-animation 2s infinite;
}

@keyframes glow-animation {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.8),
        0 0 30px rgba(255, 255, 255, 0.8),
        0 0 40px rgba(255, 255, 255, 0.8),
        0 0 50px rgba(255, 255, 255, 0.8);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
        0 0 30px rgba(255, 255, 255, 0.8),
        0 0 40px rgba(255, 255, 255, 0.8),
        0 0 50px rgba(255, 255, 255, 0.8),
        0 0 60px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.8),
        0 0 30px rgba(255, 255, 255, 0.8),
        0 0 40px rgba(255, 255, 255, 0.8),
        0 0 50px rgba(255, 255, 255, 0.8);
    }
}

/* Card stack animation */
.card-stack {
    position: relative;
    overflow: hidden;
}

.card-stack .card-image {
    position: absolute;
    top: -100px; /* Adjust the value as needed */
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

.card-stack.show-cards .card-image {
    top: 0;
    opacity: 1;
}

.card-stack .card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s, opacity 0.5s;
}

.card-stack .card-image.front {
    transform: rotateY(0deg);
}

.card-stack .card-image.back {
    transform: rotateY(180deg);
}

.card-stack .card-image.flipped {
    transform: rotateY(180deg);
    opacity: 0;
}

/* Additional Styling Enhancements */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.dealer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dealer-container .card-image {
    transform: translateY(-50%);
}


/*buttons modification*/
.shining-button {
    width: 100px;
    height: 40px;
    background: linear-gradient(45deg, #ffed00, #ff8a00);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.shining-button:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 10%, transparent 40%);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: opacity 0.3s, transform 0.3s;
}

.shining-button:hover:before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    animation: shining-animation 1s infinite;
}

@keyframes shining-animation {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        opacity: 0.6;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
}

/* login-view.css */
body {
    background-image: url('themes/mytodo/bg.webp');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
:host {
    width: 100vw;
    height: 100vh;
}
.login-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-logo {
    display: block;
    margin: 0 auto 20px;
    width: 400px;
    height: 300px;
}

.login-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.login-input {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 16px;
}
.grey-button{
    width: 100%;
    background-color: #c4bdbd;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}
.red-button {
    width: 100%;
    background-color: #e30606;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}

.red-button:hover {
    background-color: #dc5757;
}

.green-button {
    width: 100%;
    background-color: #40e521;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}

.green-button:hover {
    background-color: #9ed993;
}

.centered-layout {
    justify-content: center;
    align-items: center;
    height: 50vh;
}

body {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
}